extends layout

block content
  div(data-role="header", data-theme="a", data-position="fixed", data-id="topbar", data-add-back-btn="true")
    a(data-role="button", data-rel="back", data-theme="b") Volver
    h3 Nuevo Paciente
    a(data-role="button", href="/logout", data-theme="b") Salir
  div(data-role="content")
    h2 Bienvenido #{username.user}
    h3 Completa el formulario
    form(id="survey-form", onsubmit="javascript:survey(this);return false;")
      include form/personaldata
      include form/parentmh
      include form/personal-history
      include form/glicemia
      include form/physical-activities
      include form/vital-signs
      include form/measures
      include form/physical-exam
    input(type="submit", value="Guardar", onclick="javascript:survey(this);")
    div(data-role="footer", data-theme="a", data-position="fixed", data-id="menu")
      div(data-role="navbar", role="navigation", data-iconpos="top")
        ul(class="ui-grid-b")
          li(class="ui-block-a")
            a(href="/form-input", data-icon="plus", data-corners="false", data-shadow="false", data-iconshadow="true", data-wrapperels="span", data-iconpos="top", data-theme="a", data-inline="true", class="ui-btn-active ui-state-persist") Nuevo Paciente
          li(class="ui-block-b")
            a(href="/form-query", data-icon="search", data-corners="false", data-shadow="false", data-iconshadow="true", data-wrapperels="span", data-iconpos="top", data-theme="a", data-inline="true", class="ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a") Buscar Paciente
          li(class="ui-block-c")
            a(href="/stats", data-icon="info", data-corners="false", data-shadow="false", data-iconshadow="true", data-wrapperels="span", data-iconpos="top", data-theme="a", data-inline="true", class="ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a") Estadísticas
    div(data-role="popup", id="success-popup", data-overlay-theme="a", data-theme="c")
      div(data-role="header", data-theme="a", class="ui-corner-top ui-header ui-bar-a", role="banner")
        h3 Formulario enviado
      div(data-role="content", data-theme="d", class="ui-corner-bottom ui-content ui-body-d", role="main")
        h4 Formulario enviado con éxito
        a(href="#", data-rel="back", data-role="button", data-theme="a") Cerrar
    script
      function survey(form){
        $('#success-popup').popup('open');
      }
      function toggleCOD(sel,number){
        var value = sel.options[sel.selectedIndex].value;
        if (value == "true")
          $('#div-cod-'+number).fadeOut();
        else
          $('#div-cod-'+number).fadeIn();
      }
      function toggleTreatment(sel){
        var value = sel.options[sel.selectedIndex].value;
        if (value == "on")
          $('#div-treatdesc').fadeIn();
        else
          $('#div-treatdesc').fadeOut();
      }
      function toggleTobacco(sel){
        var value = sel.options[sel.selectedIndex].value;
        if (value == "on")
          $('#div-tobacco-desc').fadeIn();
        else
          $('#div-tobacco-desc').fadeOut();
      }
      function toggleActivity(sel,kind){
        var value = sel.options[sel.selectedIndex].value;
        if (value == "on")
          $('#div-'+kind+'-desc').fadeIn();
        else
          $('#div-'+kind+'-desc').fadeOut();
      }

      //init script
      $('select[name*="alive"]').each(
        function(index,element){
          toggleCOD(element,index+1);
          });
      toggleTreatment($('#treatment')[0]);
      toggleTobacco($('#smoking')[0]);
      toggleActivity($('#recently')[0],'recently');
      toggleActivity($('#previous')[0],'previous');
      toggleActivity($('#murmurs')[0],'murmurs');
      toggleActivity($('#pulmonarAuscultation')[0],'pulmonarAuscultation');
