extends layout

block content
  div(data-role="header", data-theme="a")
    h3 Formulario Paciente
  div(data-role="content")
    h2 Bienvenido #{username.user}
    h3 Completa el formulario
    form(id="survey-form", onsubmit="javascript:survey(this);return false;")
    include form/personaldata
    include form/parentmh
    input(type="submit", value="Submit")
