extends layout

block content
  div(data-role="header", data-theme="a")
    h3 Sistema de Gestión de Pacientes
  div(data-role="content")
    h2 Bienvenido #{username.user}
    ul(data-role="listview", data-inset="true", data-theme="c", data-dividertheme="b")
      li(data-role="list-divider", role="heading") Menú
      li 
        a(href="/form-input") Nuevo Paciente
      li 
        a(href="/form-query") Buscar Paciente
      li 
        a(href="/stats") Estadisticas