extends layout

block content
  form(action="/login", method="post")
    label Nickname
    input(name="username", placeholder="Tu Nombre")
    input(type="hidden",name="password", value="allIn")
    input(type="submit", value="Submit")
