div(data-role="collapsible-set", data-collapsed-icon="arrow-r", data-expanded-icon="arrow-d", data-content-theme="b")
	div(data-role="collapsible" ,data-collapsed="true")
		h3 Glicemia
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="glycsched") Horario de la toma
				input(type="text", id="glycsched", name="glycemiaSched",  value="#{typeof(patient) == 'undefined'?'':patient.glycemiaSched}")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				div(class="ui-grid-a")
					div(class="ui-block-a")
						label(for="fasting") Ayunas
					div(class="ui-block-b")
						select(name="glycemiaFasting", id="fasting", data-theme='', data-role='slider',  value="#{typeof(patient) == 'undefined'?'':patient.glycemiaFasting}")
							option(value='off') No
							option(value='on') Si
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="glycval") Valor de glicemia
				input(type="number", id="glycval", name="glycemiaVal", min="0", step="0.1", value="#{typeof(patient) == 'undefined'?'':patient.glycemiaVal}")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="lastmeal") Ultima Ingesta
				input(type="text", id="lastmeal", name="glycemiaLastmeal",  value="#{typeof(patient) == 'undefined'?'':patient.glycemiaLastmeal}")