div(data-role="collapsible-set", data-collapsed-icon="arrow-r", data-expanded-icon="arrow-d", data-content-theme="b")
	div(data-role="collapsible" ,data-collapsed="true")
		h3 Glicemia
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="glycsched") Horario de la toma
				input(type="text", id="glycsched", name="glycemia.glycsched", class="required")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				div(class="ui-grid-a")
					div(class="ui-block-a")
						label(for="fasting") Ayunas
					div(class="ui-block-b")
						select(name="glycemia.fasting", id="fasting", data-theme='', data-role='slider')
							option(value='off') No
							option(value='on') Si
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="glycval") Valor de glicemia
				input(type="number", id="glycval", name="glycemia.glycval", class="required")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="lastmeal") Ultima Ingesta
				input(type="text", id="lastmeal", name="glycemia.lastmeal", class="required")