div(data-role="collapsible-set", data-collapsed-icon="arrow-r", data-expanded-icon="arrow-d", data-content-theme="b")
	div(data-role="collapsible" ,data-collapsed="true")
		h3 Antecedentes Paternos
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				select(name="fatherAlive", onchange="javascript:toggleCOD(this,1);")
					option(value="true") Vivo
					option(value="false") Fallecido
		div(data-role="fieldcontain", id="div-cod-1")
			fieldset(data-role="controlgroup")
				label(for="cod1") Causa de Muerte
				input(type="text", id="cod1", name="fatherCOD")
		div(data-role="fieldcontain", data-theme="c")
			fieldset(data-role="controlgroup")
				label(for="fatherDBT") DBT
				input(type="checkbox",id="fatherDBT", name="fatherDBT")
				label(for="fatherHTA") HTA
				input(type="checkbox", id="fatherHTA",name="fatherHTA")
				label(for="fatherDislipedemia") Dislipedemia
				input(type="checkbox", id="fatherDislipedemia", name="fatherDislipedemia")
				label(for="fatherChagas") Chagas
				input(type="checkbox", id="fatherChagas", name="fatherChagas")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="fatherThyroid") Tiroides
				input(type="text", id="fatherThyroid", name="fatherThyroid")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="fatherOthers") Otros
				input(type="text", id="fatherOthers", name="fatherOthers")
div(data-role="collapsible-set", data-collapsed-icon="arrow-r", data-expanded-icon="arrow-d", data-content-theme="b")
	div(data-role="collapsible" ,data-collapsed="true")
		h3 Antecedentes Maternos
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				select(name="motherAlive", onchange="javascript:toggleCOD(this,2);")
					option(value="true") Viva
					option(value="false") Fallecida
		div(data-role="fieldcontain", id="div-cod-2")
			fieldset(data-role="controlgroup")
				label(for="cod2") Causa de Muerte
				input(type="text", id="cod2", name="motherCOD")
		div(data-role="fieldcontain", data-theme="c")
			fieldset(data-role="controlgroup")
				label(for="motherDBT") DBT
				input(type="checkbox",id="motherDBT", name="motherDBT")
				label(for="motherHTA") HTA
				input(type="checkbox", id="motherHTA",name="motherHTA")
				label(for="motherDislipedemia") Dislipedemia
				input(type="checkbox", id="motherDislipedemia", name="motherDislipedemia")
				label(for="motherChagas") Chagas
				input(type="checkbox", id="motherChagas", name="motherChagas")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="motherThyroid") Tiroides
				input(type="text", id="motherThyroid", name="motherThyroid")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="motherOthers") Otros
				input(type="text", id="motherOthers", name="motherOthers")
