div(data-role="collapsible-set", data-collapsed-icon="arrow-r", data-expanded-icon="arrow-d", data-content-theme="b")
	div(data-role="collapsible" ,data-collapsed="true")
		h3 Antecedentes Personales
		div(data-role="fieldcontain", data-theme="c")
			fieldset(data-role="controlgroup")
				label(for="personalMHDBT") DBT
				input(type="checkbox",id="personalMHDBT", name="personalMHDBT")
				label(for="personalMHHTA") HTA
				input(type="checkbox", id="personalMHHTA",name="personalMHHTA")
				label(for="personalMHDislipedemia") Dislipedemia
				input(type="checkbox", id="personalMHDislipedemia", name="personalMHDislipedemia")
				label(for="personalMHChagas") Chagas
				input(type="checkbox", id="personalMHChagas", name="personalMHChagas")
				label(for="personalMHArhythmia") Arritmias
				input(type="checkbox", id="personalMHArhythmia", name="personalMHArhythmia")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="personalMHThyroid") Tiroides
				input(type="text", id="personalMHThyroid", name="personalMHThyroid")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="personalMHOthers") Otros
				input(type="text", id="personalMHOthers", name="personalMHOthers")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="personalMHTreatment") Tratamientos
				select(name="personalMHTreatment", id="personalMHTreatment", data-theme='a', data-role='slider', onchange="javascript:toggleTreatment(this);")
					option(value='off') No
					option(value='on') Si
			fieldset(data-role="controlgroup", id="div-treatdesc")
				label(for="personalMHTreatDesc") Descripci칩n del Tratamiento
				input(type="text", id="personalMHTreatDesc", name="personalMHTreatDesc")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="smoking") Tabaquismo
				select(name="personalMHSmoking", id="smoking", data-theme='a', data-role='slider', onchange="javascript:toggleTobacco(this);")
					option(value='off') No
					option(value='on') Si
			fieldset(data-role="controlgroup", id="div-tobacco-desc")
				label(for="smokeDay") cigarrillos/dia
				input(type="number", id="smokeDay", name="personalMHSmokeDay",  placeholder="cig/dia")
				label(for="smokeYears") a침os
				input(type="number", id="smokeYears", name="personalMHSmokeYears",  placeholder="a침os")
				label(for="smokeAbstinence") abstinencia
				input(type="number", id="smokeAbstinence", name="personalMHSmokeAbstinence", placeholder="a침os")
