div(data-role="collapsible-set", data-collapsed-icon="arrow-r", data-expanded-icon="arrow-d", data-content-theme="b")
	div(data-role="collapsible" ,data-collapsed="true")
		h3 Antecedentes Personales
		div(data-role="fieldcontain", data-theme="c")
			fieldset(data-role="controlgroup")
				label(for="dbt") DBT
				input(type="checkbox",id="dbt", name="dbt")
				label(for="hta") HTA
				input(type="checkbox", id="hta",name="hta")
				label(for="dislipedemia") Dislipedemia
				input(type="checkbox", id="dislipedemia", name="dislipedemia")
				label(for="chagas") Chagas
				input(type="checkbox", id="chagas", name="chagas")
				label(for="arhythmia") Arritmias
				input(type="checkbox", id="arhythmia", name="arhythmia")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="thyroid") Tiroides
				input(type="text", id="thyroid", name="thyroid", class="required")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="others") Otros
				input(type="text", id="others", name="others", class="required")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="treatment") Tratamientos
				select(name="treatment", id="treatment", data-theme='', data-role='slider', onchange="javascript:toggleTreatment(this);")
					option(value='off') No
					option(value='on') Si
			fieldset(data-role="controlgroup", id="div-treatdesc")
				label(for="treatdesc") Descripci칩n del Tratamiento
				input(type="text", id="treatdesc", name="treatdesc", class="required")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="smoking") Tabaquismo
				select(name="smoking", id="smoking", data-theme='', data-role='slider', onchange="javascript:toggleTobacco(this);")
					option(value='off') No
					option(value='on') Si
			fieldset(data-role="controlgroup", id="div-tobacco-desc")
				label(for="cigDay") cigarrillos/dia
				input(type="number", id="cigDay", name="cigDay", class="required",  placeholder="cig/dia")
				label(for="cigYears") a침os
				input(type="number", id="cigYears", name="cigYears", class="required",  placeholder="a침os")
				label(for="cigAbstinence") abstinencia
				input(type="number", id="cigAbstinence", name="cigAbstinence", class="required", placeholder="a침os")
